.imgLogo{
    max-width: 20vh;
}
    
.navBarCompleto{
    background-color: antiquewhite;
    display: flex;
    padding: 0 1.5vh;
    align-items: center;
    justify-content: space-between;
    
    
}
.logoYTitulo{
    display: flex;
    align-items: center;
}


